@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
  .fluid-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
  .fluid-grid > *:last-child:nth-child(odd) {
    grid-column: 1 / -1;
  }
}
